# Virtual environment
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code settings
.vscode/

# OS files
.DS_Store

# Logs (optional, remove if you want logs tracked)
logs/

# Job descripition workaround until UI is built
job.txt